body {
	margin: 0;
	padding: 0;
}

#map {
	position: relative;
	width: 960px;
	height: 640px;
}
.mapModal {
	position: absolute;
	top: 0;
	right: -300px;
	box-sizing: border-box;
	margin: 0;
	background: white;
	width: 300px;
	padding: 10px 20px;
}
.mapModal strong {
	font-size: 18px;
}
.mapModal p {
	font-size: 12px;
	line-height: 22px;
}
.modalFloat {
	height: auto;
	border: 1px solid black;
	background: white;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}